@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Amita:wght@700&family=Mate+SC&family=Squada+One&family=Pattaya&family=Shadows+Into+Light&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* background-image: linear-gradient(to right top, #80ebf0, #88ddff, #b2caff, #dab6e9, #eda7c0); */
  
}
.navbar{
    display: flex;
    height:30px;
    flex-direction: row;
    justify-content: space-around;
    /* background-image: linear-gradient(to right top, #d87930, #db7d3f, #de824e, #e0875b, #e18d68); */
    background-image: linear-gradient(to right top, #f6791a, #ff5844, #ff396a, #f32a91, #d139b6);
}
.heading{
    background-color: transparent;
    font-family: 'Squada One', cursive;
    font-size:25px;
    color:wheat;
    text-shadow: 2px 2px 4px black;
}
.quotes{
    border-radius: 20px;
    height:35px;
    text-shadow: 2px 2px 4px black;
    font-family: 'Mate SC', serif;
    font-weight: bold;
    font-size: 20px;
    color: white;


}
.signature{
    background-color:transparent;
    font-family: 'Mate SC', serif;
    font-weight: bold;
    color:white;
    text-shadow: 2px 2px 4px black
}

/* sidebar*/
.sec-col{
    display: flex;
    flex-direction: column;
}
.container{
    display:flex;
    flex-direction: row;
    width:100vw;
background-image: url("https://alk3r.files.wordpress.com/2016/11/3ef5d-1478555468441.gif");
background-repeat: no-repeat;
background-size: cover;
background-position:center;
}
.sidebar{
    height:100vh;
}
.sidespace{
    color: white;
    margin-left:15px;
    padding:40px;
    font-size:19px;
    color: #FFFFFF;
text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
font-family: 'Pattaya', sans-serif;
}


.sidenav{
    width:150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.photo img{
    width:70px;
    border-radius: 40px;
    height:70px;
    margin-left:40px;
    
}
.header{
    font-size:15px;
    font-family: 'Mate SC', serif;
    font-weight: 800;
    margin-left: 30px;
    color: white;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}


.abesit{
    display: flex;
    flex-direction: row;
}
.memories{
    margin:10px;
    display: flex;
    flex-direction: row;
}

.group img{
    width:450px;
    height:280px;
    border-radius: 10px;
     margin-left:30px;
    
}

img{
    margin-top:20px;
    margin:10px;
    width:300px;
    height:280px;
    border-radius: 10px;
    
}
.individual{
   
    background-image: url("https://alk3r.files.wordpress.com/2016/11/3ef5d-1478555468441.gif");
    border-radius: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:350px;
    height:320px;
    margin-top:20px;
    border-color:white;
   
}
.individual img{
    margin-left:45px;
    margin-top:35px;
    width:100px;
    border-radius: 60px;
    height:100px;
    border-color: transparent;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    
    
}
.row-1{
    display: flex;
    flex-direction: row;   
}
.row-2{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.images{
    display: flex;
    flex-direction: row;
}
.thoughts{
    width: 300px;
    height:150px;
    font-size: 45px;
    margin-left: 55px; 
    padding:20px;
    color:white;
    text-align: center;
    font-family: 'Amita', cursive;
    text-shadow: 2px 2px 4px white;
}
.moments{
    display: flex;
    flex-direction: row;
    margin-left:35px;

}
.moments img{
    margin:5px;
    width: 250px;
    height:150px;
    border-radius: 10px;
    box-shadow: rgba(175, 193, 201, 0.87) 0px 19px 38px, rgba(231, 229, 229, 0.22) 0px 15px 12px;
}
 .idea{
     display: flex;
     flex-direction: row; 
     
 }
 .quotes-1{
     color:red;
     text-align: center;
     margin-left: 290px;
     font-family: 'Pattaya', sans-serif;
     font-size:50px;
     text-shadow: 2px 2px 4px #000000;
    
 }